body 
{
background-color: lightseagreen;
}
.div1
{
    float: none;
}
#name1 , #name2
{
	display: inline-block;
	margin-left: 20px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid rgba(31, 31, 171, 0.847);
padding: 10px;
float: none;
text-align: left;
}
#play 
{
   background-color:navy;
   border-radius: 30px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color:white;
}
#name1 , #name2
{
    border-radius: 30px;
    background-color: rgba(135, 206, 250, 0.471);
    color: black;
}

